/*
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Section/Article */
section > .last-child, section.last-child,
article > .last-child,
article.last-child {
  margin-bottom: 0; }

/* Banner */
#banner {
  background-image: url("../../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  -ms-behavior: url("assets/js/ie/backgroundsize.min.htc"); }
  #banner .inner {
    background: #b3c0e1; }

/* CTA  */
#cta {
  background-image: url("../../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  -ms-behavior: url("assets/js/ie/backgroundsize.min.htc"); }

/*# sourceMappingURL=ie8.css.map */
