@import url("font-awesome.min.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
/*
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Containers */
.container {
  margin-left: auto;
  margin-right: auto; }

.container.\31 25\25 {
  width: 100%;
  max-width: 1750px;
  min-width: 1400px; }

.container.\37 5\25 {
  width: 1050px; }

.container.\35 0\25 {
  width: 700px; }

.container.\32 5\25 {
  width: 350px; }

.container {
  width: 1400px; }

@media screen and (max-width: 1680px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px; }

  .container.\37 5\25 {
    width: 900px; }

  .container.\35 0\25 {
    width: 600px; }

  .container.\32 5\25 {
    width: 300px; }

  .container {
    width: 1200px; } }
@media screen and (max-width: 1280px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px; }

  .container.\37 5\25 {
    width: 720px; }

  .container.\35 0\25 {
    width: 480px; }

  .container.\32 5\25 {
    width: 240px; }

  .container {
    width: 960px; } }
@media screen and (max-width: 980px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 118.75%;
    min-width: 95%; }

  .container.\37 5\25 {
    width: 71.25%; }

  .container.\35 0\25 {
    width: 47.5%; }

  .container.\32 5\25 {
    width: 23.75%; }

  .container {
    width: 95%; } }
@media screen and (max-width: 840px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 118.75%;
    min-width: 95%; }

  .container.\37 5\25 {
    width: 71.25%; }

  .container.\35 0\25 {
    width: 47.5%; }

  .container.\32 5\25 {
    width: 23.75%; }

  .container {
    width: 95% !important; } }
@media screen and (max-width: 736px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100% !important; } }
/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row.uniform.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.uniform.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row > * {
  padding: 50px 0 0 50px; }

.row {
  margin: -50px 0 -1px -50px; }

.row.uniform > * {
  padding: 50px 0 0 50px; }

.row.uniform {
  margin: -50px 0 -1px -50px; }

.row.\32 00\25  > * {
  padding: 100px 0 0 100px; }

.row.\32 00\25 {
  margin: -100px 0 -1px -100px; }

.row.uniform.\32 00\25  > * {
  padding: 100px 0 0 100px; }

.row.uniform.\32 00\25 {
  margin: -100px 0 -1px -100px; }

.row.\31 50\25  > * {
  padding: 75px 0 0 75px; }

.row.\31 50\25 {
  margin: -75px 0 -1px -75px; }

.row.uniform.\31 50\25  > * {
  padding: 75px 0 0 75px; }

.row.uniform.\31 50\25 {
  margin: -75px 0 -1px -75px; }

.row.\35 0\25  > * {
  padding: 25px 0 0 25px; }

.row.\35 0\25 {
  margin: -25px 0 -1px -25px; }

.row.uniform.\35 0\25  > * {
  padding: 25px 0 0 25px; }

.row.uniform.\35 0\25 {
  margin: -25px 0 -1px -25px; }

.row.\32 5\25  > * {
  padding: 12.5px 0 0 12.5px; }

.row.\32 5\25 {
  margin: -12.5px 0 -1px -12.5px; }

.row.uniform.\32 5\25  > * {
  padding: 12.5px 0 0 12.5px; }

.row.uniform.\32 5\25 {
  margin: -12.5px 0 -1px -12.5px; }

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24  + *,
.\31 1u\24  + *,
.\31 0u\24  + *,
.\39 u\24  + *,
.\38 u\24  + *,
.\37 u\24  + *,
.\36 u\24  + *,
.\35 u\24  + *,
.\34 u\24  + *,
.\33 u\24  + *,
.\32 u\24  + *,
.\31 u\24  + * {
  clear: left; }

.\-11u {
  margin-left: 91.66667%; }

.\-10u {
  margin-left: 83.33333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.66667%; }

.\-7u {
  margin-left: 58.33333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.66667%; }

.\-4u {
  margin-left: 33.33333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.66667%; }

.\-1u {
  margin-left: 8.33333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28wide\29, .\31 2u\24\28wide\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28wide\29, .\31 1u\24\28wide\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28wide\29, .\31 0u\24\28wide\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28wide\29, .\39 u\24\28wide\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28wide\29, .\38 u\24\28wide\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28wide\29, .\37 u\24\28wide\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28wide\29, .\36 u\24\28wide\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28wide\29, .\35 u\24\28wide\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28wide\29, .\34 u\24\28wide\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28wide\29, .\33 u\24\28wide\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28wide\29, .\32 u\24\28wide\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28wide\29, .\31 u\24\28wide\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28wide\29  + *,
  .\31 1u\24\28wide\29  + *,
  .\31 0u\24\28wide\29  + *,
  .\39 u\24\28wide\29  + *,
  .\38 u\24\28wide\29  + *,
  .\37 u\24\28wide\29  + *,
  .\36 u\24\28wide\29  + *,
  .\35 u\24\28wide\29  + *,
  .\34 u\24\28wide\29  + *,
  .\33 u\24\28wide\29  + *,
  .\32 u\24\28wide\29  + *,
  .\31 u\24\28wide\29  + * {
    clear: left; }

  .\-11u\28wide\29 {
    margin-left: 91.66667%; }

  .\-10u\28wide\29 {
    margin-left: 83.33333%; }

  .\-9u\28wide\29 {
    margin-left: 75%; }

  .\-8u\28wide\29 {
    margin-left: 66.66667%; }

  .\-7u\28wide\29 {
    margin-left: 58.33333%; }

  .\-6u\28wide\29 {
    margin-left: 50%; }

  .\-5u\28wide\29 {
    margin-left: 41.66667%; }

  .\-4u\28wide\29 {
    margin-left: 33.33333%; }

  .\-3u\28wide\29 {
    margin-left: 25%; }

  .\-2u\28wide\29 {
    margin-left: 16.66667%; }

  .\-1u\28wide\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 1280px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28normal\29, .\31 2u\24\28normal\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28normal\29, .\31 1u\24\28normal\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28normal\29, .\31 0u\24\28normal\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28normal\29, .\39 u\24\28normal\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28normal\29, .\38 u\24\28normal\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28normal\29, .\37 u\24\28normal\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28normal\29, .\36 u\24\28normal\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28normal\29, .\35 u\24\28normal\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28normal\29, .\34 u\24\28normal\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28normal\29, .\33 u\24\28normal\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28normal\29, .\32 u\24\28normal\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28normal\29, .\31 u\24\28normal\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28normal\29  + *,
  .\31 1u\24\28normal\29  + *,
  .\31 0u\24\28normal\29  + *,
  .\39 u\24\28normal\29  + *,
  .\38 u\24\28normal\29  + *,
  .\37 u\24\28normal\29  + *,
  .\36 u\24\28normal\29  + *,
  .\35 u\24\28normal\29  + *,
  .\34 u\24\28normal\29  + *,
  .\33 u\24\28normal\29  + *,
  .\32 u\24\28normal\29  + *,
  .\31 u\24\28normal\29  + * {
    clear: left; }

  .\-11u\28normal\29 {
    margin-left: 91.66667%; }

  .\-10u\28normal\29 {
    margin-left: 83.33333%; }

  .\-9u\28normal\29 {
    margin-left: 75%; }

  .\-8u\28normal\29 {
    margin-left: 66.66667%; }

  .\-7u\28normal\29 {
    margin-left: 58.33333%; }

  .\-6u\28normal\29 {
    margin-left: 50%; }

  .\-5u\28normal\29 {
    margin-left: 41.66667%; }

  .\-4u\28normal\29 {
    margin-left: 33.33333%; }

  .\-3u\28normal\29 {
    margin-left: 25%; }

  .\-2u\28normal\29 {
    margin-left: 16.66667%; }

  .\-1u\28normal\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 980px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28narrow\29, .\39 u\24\28narrow\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28narrow\29, .\38 u\24\28narrow\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28narrow\29, .\37 u\24\28narrow\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28narrow\29, .\36 u\24\28narrow\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28narrow\29, .\35 u\24\28narrow\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28narrow\29, .\34 u\24\28narrow\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28narrow\29, .\33 u\24\28narrow\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28narrow\29, .\32 u\24\28narrow\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28narrow\29, .\31 u\24\28narrow\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28narrow\29  + *,
  .\31 1u\24\28narrow\29  + *,
  .\31 0u\24\28narrow\29  + *,
  .\39 u\24\28narrow\29  + *,
  .\38 u\24\28narrow\29  + *,
  .\37 u\24\28narrow\29  + *,
  .\36 u\24\28narrow\29  + *,
  .\35 u\24\28narrow\29  + *,
  .\34 u\24\28narrow\29  + *,
  .\33 u\24\28narrow\29  + *,
  .\32 u\24\28narrow\29  + *,
  .\31 u\24\28narrow\29  + * {
    clear: left; }

  .\-11u\28narrow\29 {
    margin-left: 91.66667%; }

  .\-10u\28narrow\29 {
    margin-left: 83.33333%; }

  .\-9u\28narrow\29 {
    margin-left: 75%; }

  .\-8u\28narrow\29 {
    margin-left: 66.66667%; }

  .\-7u\28narrow\29 {
    margin-left: 58.33333%; }

  .\-6u\28narrow\29 {
    margin-left: 50%; }

  .\-5u\28narrow\29 {
    margin-left: 41.66667%; }

  .\-4u\28narrow\29 {
    margin-left: 33.33333%; }

  .\-3u\28narrow\29 {
    margin-left: 25%; }

  .\-2u\28narrow\29 {
    margin-left: 16.66667%; }

  .\-1u\28narrow\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 840px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28narrower\29, .\39 u\24\28narrower\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28narrower\29, .\38 u\24\28narrower\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28narrower\29, .\37 u\24\28narrower\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28narrower\29, .\36 u\24\28narrower\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28narrower\29, .\35 u\24\28narrower\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28narrower\29, .\34 u\24\28narrower\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28narrower\29, .\33 u\24\28narrower\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28narrower\29, .\32 u\24\28narrower\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28narrower\29, .\31 u\24\28narrower\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28narrower\29  + *,
  .\31 1u\24\28narrower\29  + *,
  .\31 0u\24\28narrower\29  + *,
  .\39 u\24\28narrower\29  + *,
  .\38 u\24\28narrower\29  + *,
  .\37 u\24\28narrower\29  + *,
  .\36 u\24\28narrower\29  + *,
  .\35 u\24\28narrower\29  + *,
  .\34 u\24\28narrower\29  + *,
  .\33 u\24\28narrower\29  + *,
  .\32 u\24\28narrower\29  + *,
  .\31 u\24\28narrower\29  + * {
    clear: left; }

  .\-11u\28narrower\29 {
    margin-left: 91.66667%; }

  .\-10u\28narrower\29 {
    margin-left: 83.33333%; }

  .\-9u\28narrower\29 {
    margin-left: 75%; }

  .\-8u\28narrower\29 {
    margin-left: 66.66667%; }

  .\-7u\28narrower\29 {
    margin-left: 58.33333%; }

  .\-6u\28narrower\29 {
    margin-left: 50%; }

  .\-5u\28narrower\29 {
    margin-left: 41.66667%; }

  .\-4u\28narrower\29 {
    margin-left: 33.33333%; }

  .\-3u\28narrower\29 {
    margin-left: 25%; }

  .\-2u\28narrower\29 {
    margin-left: 16.66667%; }

  .\-1u\28narrower\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 736px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28mobile\29  + *,
  .\31 1u\24\28mobile\29  + *,
  .\31 0u\24\28mobile\29  + *,
  .\39 u\24\28mobile\29  + *,
  .\38 u\24\28mobile\29  + *,
  .\37 u\24\28mobile\29  + *,
  .\36 u\24\28mobile\29  + *,
  .\35 u\24\28mobile\29  + *,
  .\34 u\24\28mobile\29  + *,
  .\33 u\24\28mobile\29  + *,
  .\32 u\24\28mobile\29  + *,
  .\31 u\24\28mobile\29  + * {
    clear: left; }

  .\-11u\28mobile\29 {
    margin-left: 91.66667%; }

  .\-10u\28mobile\29 {
    margin-left: 83.33333%; }

  .\-9u\28mobile\29 {
    margin-left: 75%; }

  .\-8u\28mobile\29 {
    margin-left: 66.66667%; }

  .\-7u\28mobile\29 {
    margin-left: 58.33333%; }

  .\-6u\28mobile\29 {
    margin-left: 50%; }

  .\-5u\28mobile\29 {
    margin-left: 41.66667%; }

  .\-4u\28mobile\29 {
    margin-left: 33.33333%; }

  .\-3u\28mobile\29 {
    margin-left: 25%; }

  .\-2u\28mobile\29 {
    margin-left: 16.66667%; }

  .\-1u\28mobile\29 {
    margin-left: 8.33333%; } }
/* Basic */
body {
  background: #385190; }
  body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

body, input, select, textarea {
  color: #ffffff;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em; }

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #2b54a6;
  text-decoration: none;
  border-bottom: dotted 1px; }
  a:hover {
    border-bottom-color: transparent; }

strong, b {
  font-weight: 400; }

p, ul, ol, dl, table, blockquote {
  margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em; }

h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

hr {
  border-top: solid 1px rgba(124, 128, 129, 0.2);
  border: 0;
  margin-bottom: 1.5em; }

blockquote {
  border-left: solid 0.5em rgba(124, 128, 129, 0.2);
  font-style: italic;
  padding: 1em 0 1em 2em; }

/* Section/Article */
section.special, article.special {
  text-align: center; }

header.major {
  padding-bottom: 2em; }
header.special {
  margin-bottom: 5em;
  padding-top: 7em;
  position: relative;
  text-align: center; }
  header.special:before, header.special:after {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: 1.75em;
    width: 43%; }
  header.special:before {
    left: 0; }
  header.special:after {
    right: 0; }
  header.special h2 {
    margin-bottom: 0; }
  header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em; }
  header.special .icon {
    cursor: default;
    height: 7em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%; }
    header.special .icon:before {
      font-size: 3.5em;
      opacity: 0.35; }

footer > :last-child {
  margin-bottom: 0; }
footer.major {
  padding-top: 3em; }

/* Form */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border: solid 1px rgba(124, 128, 129, 0.2);
  color: inherit;
  display: block;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
  outline: 0; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #6188d6; }

input[type="text"],
input[type="password"],
input[type="email"] {
  line-height: 1em; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  position: relative;
  top: 3px; }

:-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

::-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5; }

.formerize-placeholder {
  color: rgba(255, 255, 255, 0.5) !important; }

/* Image */
.image {
  border: 0;
  position: relative; }
  .image:before {
    background: url("images/overlay.png");
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .image.fit {
    display: block; }
    .image.fit img {
      display: block;
      width: 100%; }
  .image.featured {
    display: block;
    margin: 0 0 2em 0; }
    .image.featured img {
      display: block;
      width: 100%; }

/* Icon */
.icon {
  text-decoration: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon.circle {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em; }
    .icon.circle:hover {
      top: -0.2em; }
    .icon.circle.fa-twitter {
      background: #70aecd;
      color: #fff; }
      .icon.circle.fa-twitter:hover {
        background: #7fb7d2; }
    .icon.circle.fa-facebook {
      background: #7490c3;
      color: #fff; }
      .icon.circle.fa-facebook:hover {
        background: #829bc9; }
    .icon.circle.fa-google-plus {
      background: #db6b67;
      color: #fff; }
      .icon.circle.fa-google-plus:hover {
        background: #df7b77; }
    .icon.circle.fa-github {
      background: #dcad8b;
      color: #fff; }
      .icon.circle.fa-github:hover {
        background: #e1b89b; }
    .icon.circle.fa-dribbble {
      background: #da83ae;
      color: #fff; }
      .icon.circle.fa-dribbble:hover {
        background: #df93b8; }
  .icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center; }
    .icon.featured:before {
      font-size: 5em;
      line-height: 1em; }
  .icon > .label {
    display: none; }

/* List */
ol.default {
  list-style: decimal;
  padding-left: 1.25em; }
  ol.default li {
    padding-left: 0.25em; }

ul.default {
  list-style: disc;
  padding-left: 1em; }
  ul.default li {
    padding-left: 0.5em; }
ul.icons {
  cursor: default; }
  ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em; }
    ul.icons li:first-child {
      padding-left: 0; }
ul.featured-icons {
  cursor: default;
  margin: -0.75em 0 0 0;
  opacity: 0.35;
  overflow: hidden;
  position: relative; }
  ul.featured-icons li {
    display: block;
    float: left;
    text-align: center;
    width: 50%; }
    ul.featured-icons li .icon {
      display: inline-block;
      font-size: 6.25em;
      height: 1.25em;
      line-height: 1.25em;
      width: 1em; }
ul.buttons {
  cursor: default; }
  ul.buttons:last-child {
    margin-bottom: 0; }
  ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em; }
    ul.buttons li:first-child {
      padding: 0; }
  ul.buttons.vertical li {
    display: block;
    padding: 1.5em 0 0 0; }
    ul.buttons.vertical li:first-child {
      padding: 0; }

/* Table */
table {
  width: 100%; }
  table.default {
    width: 100%; }
    table.default tbody tr {
      border-bottom: solid 1px rgba(124, 128, 129, 0.2); }
    table.default td {
      padding: 0.5em 1em 0.5em 1em; }
    table.default th {
      font-weight: 400;
      padding: 0.5em 1em 0.5em 1em;
      text-align: left; }
    table.default thead {
      background: #ffffff;
      color: #fff; }

/* Button */
input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background: none;
  border: solid 1px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 2px;
  min-width: 18em;
  padding: 0 0.75em;
  line-height: 3.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  .button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit; }
  input[type="button"].special,
  input[type="submit"].special,
  input[type="reset"].special,
  .button.special {
    background: #6188d6;
    border-color: #6188d6;
    color: #fff !important; }
    input[type="button"].special:hover,
    input[type="submit"].special:hover,
    input[type="reset"].special:hover,
    .button.special:hover {
      background: #4d79d1 !important;
      border-color: #7597db !important; }
  input[type="button"].fit,
  input[type="submit"].fit,
  input[type="reset"].fit,
  .button.fit {
    width: 100%; }
  input[type="button"].small,
  input[type="submit"].small,
  input[type="reset"].small,
  .button.small {
    font-size: 0.7em;
    min-width: 14em;
    padding: 0.5em 0; }

/* Wrapper */
.wrapper {
  margin-bottom: 5em;
  padding: 5em; }
  .wrapper.style1 {
    padding: 0; }
  .wrapper.style2 {
    background-color: #6188d6;
    background-image: url("images/light-bl.svg"), url("images/light-br.svg");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: #fff; }
    .wrapper.style2 .button:hover {
      background: rgba(255, 255, 255, 0.15) !important; }
    .wrapper.style2 .button.special {
      background: #fff;
      border-color: #fff;
      color: #6188d6 !important; }
      .wrapper.style2 .button.special:hover {
        border-color: inherit !important;
        color: #fff !important; }
  .wrapper.style3 {
    background: #6188d6;
    color: inherit; }
  .wrapper.style4 {
    background: #6188d6;
    color: inherit;
    padding: 4em; }

/* Header */
@-moz-keyframes reveal-header {
  0% {
    top: -5em; }
  100% {
    top: 0; } }
@-webkit-keyframes reveal-header {
  0% {
    top: -5em; }
  100% {
    top: 0; } }
@-ms-keyframes reveal-header {
  0% {
    top: -5em; }
  100% {
    top: 0; } }
@keyframes reveal-header {
  0% {
    top: -5em; }
  100% {
    top: 0; } }
#header {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  color: inherit;
  cursor: default;
  font-size: 0.8em;
  left: 0;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  #header h1 {
    font-weight: 900;
    margin: 0; }
    #header h1 img {
      height: 30px;
      width: 30px;
      margin: 0 10px;
      padding: 0; }
    #header h1 span {
      font-weight: 300; }
  #header nav {
    letter-spacing: 0.075em;
    position: absolute;
    right: 1.5em;
    top: 0.75em; }
    #header nav ul li {
      display: inline-block;
      margin-left: 1.5em; }
      #header nav ul li > ul {
        display: none; }
      #header nav ul li a {
        border: solid 1px transparent;
        color: inherit;
        display: inline-block;
        line-height: 1em;
        padding: 0.6em 0.75em;
        text-decoration: none; }
      #header nav ul li input[type="button"],
      #header nav ul li input[type="submit"],
      #header nav ul li input[type="reset"],
      #header nav ul li .button {
        font-size: 1em;
        min-width: 0;
        width: auto; }
      #header nav ul li.submenu > a {
        text-decoration: none; }
        #header nav ul li.submenu > a:before {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-transform: none !important; }
        #header nav ul li.submenu > a:before {
          content: '\f107';
          margin-right: 0.65em; }
      #header nav ul li.active > a, #header nav ul li:hover > a {
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        background: rgba(188, 202, 206, 0.15); }
      #header nav ul li.current > a {
        font-weight: 900; }
  #header.reveal {
    -moz-animation: reveal-header 0.5s;
    -webkit-animation: reveal-header 0.5s;
    -ms-animation: reveal-header 0.5s;
    animation: reveal-header 0.5s; }
  #header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background: transparent;
    box-shadow: none;
    color: #fff;
    padding: 2em 2.5em;
    position: absolute; }
    #header.alt nav {
      right: 2.5em;
      top: 1.75em; }
      #header.alt nav ul li.active > a, #header.alt nav ul li:hover > a {
        border: solid 1px; }

/* Dropotron */
.dropotron {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  line-height: 2.25em;
  min-width: 13em;
  padding: 1em 0;
  text-transform: uppercase;
  margin-top: calc(-1em + 1px); }
  .dropotron.level-0 {
    font-size: 0.7em;
    font-weight: 400;
    margin-top: 1.5em; }
    .dropotron.level-0:before {
      border-bottom: solid 0.5em #fff;
      border-left: solid 0.5em transparent;
      border-right: solid 0.5em transparent;
      content: '';
      left: 0.75em;
      position: absolute;
      top: -0.45em; }
  .dropotron > li {
    border-top: solid 1px rgba(124, 128, 129, 0.2); }
    .dropotron > li > a {
      -moz-transition: none;
      -webkit-transition: none;
      -ms-transition: none;
      transition: none;
      color: inherit;
      text-decoration: none;
      padding: 0 1em;
      border: 0; }
    .dropotron > li:hover > a {
      background: #6188d6;
      color: #fff; }
    .dropotron > li:first-child {
      border-top: 0; }

/* Banner */
@-moz-keyframes reveal-banner {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes reveal-banner {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes reveal-banner {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes reveal-banner {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#banner {
  background-attachment: scroll, scroll, scroll, fixed;
  background-color: #645862;
  background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("../../images/banner.jpg");
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
  color: #fff;
  cursor: default;
  padding: 6em 0;
  text-align: center; }
  #banner .inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(179, 192, 225, 0.5);
    color: #385190;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center; }
    #banner .inner header {
      display: inline-block;
      margin: 0 0 2em 0;
      padding: 3px 0 3px 0; }
      #banner .inner header h2 {
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: 0.2em;
        margin: 0;
        padding-left: 0.05em;
        position: relative;
        text-transform: uppercase; }
      #banner .inner header h3 {
        margin: 0;
        padding: 0; }
    #banner .inner p {
      letter-spacing: 0.1em;
      margin: 0;
      text-transform: uppercase; }
      #banner .inner p a {
        color: inherit;
        font-weight: 400;
        text-decoration: none; }
    #banner .inner footer {
      margin: 2em 0 0 0; }

/* Main */
#main {
  background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: 25em;
  padding: 7em 0; }
  #main > :last-child {
    margin-bottom: 0; }
  #main .sidebar section {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    margin: 3em 0 0 0;
    padding: 3em 0 0 0; }
    #main .sidebar section:first-child {
      border-top: 0;
      padding-top: 0;
      margin-top: 0; }

body.index #main {
  padding-top: 5em; }

/* CTA */
#cta {
  background-attachment: scroll, scroll, scroll, fixed;
  background-color: #645862;
  background-image: url("images/light-tl.svg"), url("images/light-tr.svg"), url("images/overlay.png"), url("../../images/banner.jpg");
  background-position: top left, top right, top left, bottom center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
  color: #fff;
  padding: 5em;
  text-align: center; }
  #cta header {
    margin-bottom: 2em; }

/* Footer */
#footer {
  background: #1b2847;
  color: #7c8081;
  padding: 5em 5em 10em 5em;
  text-align: center; }
  #footer .copyright {
    font-size: 0.8em;
    line-height: 1em; }
    #footer .copyright a {
      color: inherit; }
    #footer .copyright li {
      display: inline-block;
      margin-left: 1em;
      padding-left: 1em;
      border-left: dotted 1px; }
      #footer .copyright li:first-child {
        margin: 0;
        padding: 0;
        border: 0; }

/* Wide */
@media screen and (max-width: 1680px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 14pt; }

  /* Section/Article */
  header.special {
    padding-top: 5.5em;
    margin-bottom: 4em; } }
/* Normal */
@media screen and (max-width: 1280px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 13pt;
    letter-spacing: 0.025em;
    line-height: 1.65em; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em; }

  /* Section/Article */
  header.major {
    padding-bottom: 1.5em; }

  footer.major {
    padding-top: 2em; }

  /* Wrapper */
  .wrapper {
    margin-bottom: 4em;
    padding: 4em 3em; }
    .wrapper.style4 {
      padding: 3em; }

  /* Header */
  #header nav ul li {
    margin-left: 1em; }

  /* Banner */
  #banner {
    background-attachment: scroll; }

  /* CTA */
  #cta {
    padding: 4em;
    background-attachment: scroll; }

  /* Footer */
  #footer {
    padding: 4em; } }
/* Narrow */
@media screen and (max-width: 980px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 13pt;
    letter-spacing: 0.025em;
    line-height: 1.5em; }

  /* Section/Article */
  header br {
    display: none; }
  header.major {
    padding-bottom: 1em; }
  header.special {
    padding-left: 2.5em;
    padding-right: 2.5em; }

  footer.major {
    padding-top: 1.5em; }

  /* Wrapper */
  .wrapper {
    margin-bottom: 3em;
    padding: 3em 2.5em; }
    .wrapper.special br {
      display: none; }
    .wrapper.style1 {
      padding: 0 2.5em; }
    .wrapper.style2 {
      background-size: 15em; }
    .wrapper.style4 {
      padding: 2.5em; }

  /* Banner */
  #banner {
    background-size: 15em, 15em, auto, cover; }

  /* Main */
  #main {
    background-size: 15em; }

  /* CTA */
  #cta {
    background-size: 15em, 15em, auto, cover;
    padding: 3em; } }
/* Narrower */
#navPanel, #navButton {
  display: none; }

@media screen and (max-width: 840px) {
  /* Basic */
  html, body {
    overflow-x: hidden; }

  header.major {
    padding-bottom: 0.25em; }
  header.special {
    margin-bottom: 4em;
    padding-top: 5em; }
    header.special:before, header.special:after {
      width: 40%; }
    header.special h2 + p {
      padding-top: 1.25em; }

  /* Section/Article */
  section {
    margin: 1em 0 1em 0; }
    section:first-child {
      margin-top: 0; }

  /* Button */
  input[type="button"].small,
  input[type="submit"].small,
  input[type="reset"].small,
  .button.small {
    font-size: 0.8em;
    min-width: 18em;
    padding: 0.75em 0; }

  /* List */
  ul.featured-icons {
    margin: 0; }
    ul.featured-icons li {
      display: inline-block;
      float: none;
      width: auto; }
      ul.featured-icons li .icon {
        font-size: 4em;
        width: 1.25em; }
  ul.buttons li {
    display: block;
    padding: 1em 0 0 0; }

  /* Header */
  #header {
    display: none; }

  /* Banner */
  #banner {
    margin: 0; }

  /* Wrapper */
  .wrapper.special-alt {
    text-align: center; }
  .wrapper.style4 {
    padding-bottom: 3em; }

  /* Main */
  #main {
    padding: 5em 0; }
    #main .sidebar {
      border-top: solid 1px rgba(255, 255, 255, 0.1);
      padding-top: 3em; }
      #main .sidebar section {
        border-top: 0;
        padding-top: 0; }

  body.index #main {
    padding-top: 4.5em; }

  /* CTA */
  #cta {
    margin: 0; }

  /* Footer */
  #footer {
    padding: 4em 1.5em; }

  /* Off-Canvas Navigation */
  #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px; }

  #navButton {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001; }
    #navButton .toggle {
      text-decoration: none;
      height: 60px;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      border: 0;
      outline: 0; }
      #navButton .toggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }
      #navButton .toggle:before {
        color: #fff;
        content: '\f0c9';
        font-size: 1em;
        height: 40px;
        left: 10px;
        line-height: 40px;
        opacity: 0.5;
        position: absolute;
        top: 11px;
        width: 60px;
        z-index: 1; }
      #navButton .toggle:after {
        background: rgba(163, 169, 170, 0.75);
        border-radius: 2px;
        content: '';
        height: 40px;
        left: 10px;
        position: absolute;
        top: 10px;
        width: 60px; }

  #navPanel {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    transform: translateX(-275px);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 10002;
    background: #1c2021;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding: 0.25em 0.75em 1em 0.75em; }
    #navPanel .link {
      border: 0;
      border-top: solid 1px rgba(255, 255, 255, 0.05);
      color: inherit;
      display: block;
      height: 3em;
      line-height: 3em;
      opacity: 0.75;
      text-decoration: none; }
      #navPanel .link.depth-0 {
        font-weight: 900; }
      #navPanel .link:first-child {
        border-top: 0; }
    #navPanel .indent-1 {
      display: inline-block;
      width: 1em; }
    #navPanel .indent-2 {
      display: inline-block;
      width: 2em; }
    #navPanel .indent-3 {
      display: inline-block;
      width: 3em; }
    #navPanel .indent-4 {
      display: inline-block;
      width: 4em; }
    #navPanel .indent-5 {
      display: inline-block;
      width: 5em; }

  body.navPanel-visible #page-wrapper {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px); }
  body.navPanel-visible #navButton {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px); }
  body.navPanel-visible #navPanel {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
/* Mobile */
@media screen and (max-width: 736px) {
  /* Basic */
  body {
    min-width: 320px; }

  h2 {
    font-size: 1.25em;
    letter-spacing: 0.1em; }

  h3 {
    font-size: 1em;
    letter-spacing: 0.025em; }

  p {
    text-align: justify; }

  /* Section/Article */
  header {
    text-align: center; }
    header.major {
      padding-bottom: 0; }
    header.special {
      margin-bottom: 3em;
      padding-left: 1.5em;
      padding-right: 1.5em; }
      header.special:before, header.special:after {
        width: 38%; }
      header.special .icon {
        font-size: 0.75em;
        top: 1.5em; }
    header p {
      text-align: center; }

  footer.major {
    padding-top: 0; }

  /* Icon */
  .icon.circle {
    font-size: 1em; }

  /* Button */
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  .button {
    max-width: 20em;
    width: 100%; }
    input[type="button"].fit,
    input[type="submit"].fit,
    input[type="reset"].fit,
    .button.fit {
      width: auto; }

  /* List */
  ul.icons li {
    padding-left: 0.25em; }
  ul.featured-icons li .icon {
    width: 1.1em; }
  ul.buttons {
    text-align: center; }

  /* Wrapper */
  .wrapper {
    margin-bottom: 2.5em;
    padding: 2.25em 1.5em; }
    .wrapper.special br {
      display: none; }
    .wrapper.style1 {
      padding: 0 1.5em; }
    .wrapper.style2 {
      background-size: 10em;
      padding: 2.25em 1.5em; }
    .wrapper.style4 {
      background-size: 10em;
      padding: 1.5em 1.5em 3em 1.5em; }

  /* Banner */
  #banner {
    background-size: 10em, 10em, auto, cover;
    padding: 6em 0; }
    #banner .inner {
      background: none;
      display: block;
      padding: 0 1.5em; }
      #banner .inner header h2 {
        font-size: 1.5em; }
      #banner .inner p {
        text-align: center; }
      #banner .inner br {
        display: none; }

  /* Main */
  #main {
    background-size: 10em;
    padding: 3.5em 0 2.5em 0; }

  body.index #main {
    padding: 2.5em 0 0 0; }

  body.contact #main {
    padding-bottom: 0; }

  /* CTA */
  #cta {
    background-size: 10em, 10em, auto, cover;
    padding: 3em 1.5em; }

  /* Footer */
  #footer {
    padding: 3em 1.5em; }
    #footer .copyright li {
      display: block;
      margin: 1em 0 0 0;
      padding: 0;
      border: 0; }

  /* Off-Canvas Navigation */
  #navButton .toggle:before {
    top: 8px;
    left: 8px;
    width: 50px;
    height: 34px;
    line-height: 34px; }
  #navButton .toggle:after {
    top: 8px;
    left: 8px;
    width: 50px;
    height: 34px; } }

/*# sourceMappingURL=main.css.map */
