// Misc.
	$misc: (
		z-index-base:	10000
	);

// Duration.
	$duration: (
		navPanel: 0.5s
	);

// Size.
	$size: (
		navPanel: 275px
	);

// Font.
	$font: (
	);

// Palette.
	$palette: (
		bg:				rgb(56, 81, 144),
		fg:				#ffffff,
		border:			transparentize(#7c8081, 0.8),

		header: (
			bg:			#fff,
			fg:			inherit,
			alt-bg:		transparent,
			alt-fg:		#fff
		),

		banner: (
			bg:			#898786,
			fg:			#fff,
			inner-bg:	lighten(rgb(56, 81, 144),40%),
			inner-fg:	rgb(56, 81, 144)
		),

		footer: (
			bg:			darken(rgb(56, 81, 144),20%),
			fg:			#7c8081
		),

		one: (
			bg:			rgb(97, 136, 214),
			fg:			#fff
		),

		two: (
			bg:			rgb(97, 136, 214),
			fg:			inherit
		),

		three: (
			bg:			#645862,
			fg:			#fff
		),

		navPanel: (
			bg:			#1c2021,
			fg:			#fff
		),

		navButton: (
			bg:			rgba(163,169,170,0.75),
			fg:			#fff
		),




		twitter: (
			bg:			#70aecd,
			fg:			#fff
		),

		facebook: (
			bg:			#7490c3,
			fg:			#fff
		),

		google-plus: (
			bg:			#db6b67,
			fg:			#fff
		),

		github: (
			bg:			#dcad8b,
			fg:			#fff
		),

		dribbble: (
			bg:			#da83ae,
			fg:			#fff
		)

	);